{% extends "aplicacion/base.html" %}
{% block content %}
<div class="container mt-5 col-12 col-md-5 text-center">
    <div class="card">
        <div class="card-header">
            <h3>Eliminar Tipo de Servicio</h3>
        </div>
        <div class="card-body">
            <p>¿Estás seguro que deseas eliminar el tipo de servicio "{{ servicio.nombre }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a class="btn btn-secondary" href="{% url 'tipo_servicio_list' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
