{% extends "aplicacion/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between mt-3">
            <h2>Lista de tipos de servicio</h2>
            <a class="btn btn-primary" href="{% url "tipo_servicio_create" %}">
                Agregar tipo
            </a>
        </div>
        <div class="table-responsive mt-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for servicio in servicios %}
                    <tr>
                        <td>{{ servicio.id }}</td>
                        <td>{{ servicio.nombre }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'tipo_servicio_update' servicio.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'tipo_servicio_delete' servicio.id %}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
